
.main_note form {
  width: 500px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 253, 138); 
  box-shadow: 0 0 10px 2px black;
  border-radius: 5%;
}
.main_note form input{
  width: 500px;
  background-color: rgb(255, 253, 138);
  outline: none;
  border: none;
  margin-top: 10px;
  font-weight: bold;
}

.main_note form textarea{
  width:500px;
  height: 50px;
  background-color: rgb(255, 253, 138);
  outline: none;
  border:none;
  /* margin-top: 2rem; */
}

.main_note form Button:hover{
   color:rgb(52, 241, 52);
}

.note{
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 253, 138); 
}
.note Button:hover{
   color:red;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
